body {
    background-color: #0D1117;
}

.toplink {
    color: gray;
    cursor: pointer;
    padding-left: 10px;
    font-size: 17px;
}

.font {
    color: white;
    font-size: 50px;
    font-weight: 300;
    padding-left: 100px;
    padding-bottom: 10px;

}

.button {
    background-color: blue;
    color: white;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 10px;
    cursor: pointer;
}